<!DOCTYPE HTML>
<html lang='en'>

 <head>
   <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="../CSS/CustomStyleSheet.css">
 </head>

 <body>
 	

<table class="tableSize">
	<tr>
		<td width="30%"><label for="createProject">Create New Project</label></td>
		<td width="40%"><input type="text" class="form-control" id="projectName" placeholder="Project Alpha"></td>
		<td width="20%"><button type="submit" class="btn btn-default button">Add Project</button></td>
	</tr>
	<tr>
		<td width="30%"><label for="createCategory">Create New Category</label></td>
		<td width="40%"><input type="text" class="form-control" id="categoryName" placeholder="Internal Issues"></td>
		<td width="20%"><button type="submit" class="btn btn-default button">Add Category</button></td>
	</tr>
	<tr>
		<td width="30%"><label for="createPriority">Create New Priority Level</label></td>
		<td width="40%"><input type="text" class="form-control" id="priorityName" placeholder="Level 4"></td>
		<td width="20%"><button type="submit" class="btn btn-default button">Add Priority</button></td>
	</tr>
	<tr>
		<td width="30%"><label for="createCategory">Create New Team Member</label></td>
		<td width="40%"><input type="text" class="form-control" id="memberName" placeholder="John Winans"></td>
		<td width="20%"><button type="submit" class="btn btn-default button">Add New Member</button></td>
	</tr>
		<tr>
		<td width="30%"><label for="createCategory">Create New Status</label></td>
		<td width="40%"><input type="text" class="form-control" id="statusName" placeholder="Resolved"></td>
		<td width="20%"><button type="submit" class="btn btn-default button">Add Status</button></td>
	</tr>
	</tr>
		<tr>
		<td width="30%"><label for="createCategory">Create New Status</label></td>
		<td width="40%"><input type="text" class="form-control" id="statusName" placeholder="Resolved"></td>
		<td width="20%"><button type="submit" class="btn btn-default button">Add Status</button></td>
	</tr>

</table>


 </body>
 </html>
