
<div ng-controller = "bugListController">
<!-- <div class="se-pre-con"></div>Image loading icon -->
<button type="button" id="successMsg" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-status = "Bug saved sucessfully. Please use 'Bugs' option to see the new Bug." ng-show = "false"></button>
<button type="button" id="failureMsg" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-status = "Loading bug list failed, please refresh the page." ng-show = "false"></button>
<table width="100%" class="bugListTable">
	
<tr>
	<th class="bugDetailRow1" width="6%">Bug id</th>
	<th class="bugDetailRow2" width="15%">Name</th>
	<th class="bugDetailRow1" width="12%">Project</th>
	<th class="bugDetailRow3" width="12%">Category</th>
	<th class="bugDetailRow1" width="8%">Priority</th>
	<th class="bugDetailRow1" width="9%">Assigned to</th>
	<th class="bugDetailRow1" width="10%">Status</th>
	<th class="bugDetailRow2">Comments</th>
	<th class="bugDetailRow1"></th>
</tr>
<tr ng-repeat = "eachIssue in issueList | orderBy:'bugId'" >
	<td class="bugDetailRow1">{{eachIssue.bugId}}</td>
	<td class="bugDetailRow2">{{eachIssue.bugName}}</td>
	<td class="bugDetailRow1">{{eachIssue.projectName}}</td>
	<td class="bugDetailRow3">{{eachIssue.category}}</td>
	<td class="bugDetailRow1">{{eachIssue.priority}}</td>
	<td class="bugDetailRow1">{{eachIssue.teamMember}}</td>
	<td class="bugDetailRow1">{{eachIssue.status}}</td>
	<td class="bugDetailRow2">{{eachIssue.comments}}</td>
	<td class="bugDetailRow1"><a href = "#/bugMenu/updateBug/{{eachIssue.bugId}}"><button type="button" class="btn btn-primary update-bug">Update</button></a></td>
</tr>
	<!--  ng-click="updateBug(eachIssue.bugId)" -->
</table>
<!--<div ui-view></div>-->

    
<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" align="center"></h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h4 class="modal-message" align="center" ng-style = {color:'#DA4453'}></h4>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-style = {width:'60px'}>Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var modal = $(this);
  var button = $(event.relatedTarget);
  var statusMsg = button.data('status');
  modal.find('.modal-title').text('Thanks for using Ticket Management System.');
  modal.find('.modal-message').text(statusMsg);
});
</script>


</div>
