<!DOCTYPE HTML>
<html lang='en'>

 <head>
   <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="../CSS/CustomStyleSheet.css">
 </head>

 <body>
 	

<table width="100%" border="1">
	

<tr>
	<th class="bugDetailRow1">Bug id#</th>
	<th class="bugDetailRow2">Name</th>
	<th class="bugDetailRow1">Project</th>
	<th class="bugDetailRow1">Category</th>
	<th class="bugDetailRow1">Priority</th>
	<th class="bugDetailRow1">Assigned to</th>
	<th class="bugDetailRow1">Status</th>
	<th class="bugDetailRow2">Comments</th>
</tr>
	
</table>

 </body>
 </html>
