<!DOCTYPE HTML>
<html lang='en'>

 <head>
   <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="../CSS/CustomStyleSheet.css">

   <script src="../Scripts/jquery.min.js"></script>
 <script src="../Scripts/modernizr.js"></script>
  
  <!-- Angular -->
  <script src="../Scripts/angular.min.js"></script>
  <!-- UI-Router -->
  <script src="../Scripts/angular-ui-router.js"></script>
  <script src="../Scripts/index.js"></script>
  
 </head>

 <div class="se-pre-con"></div>
 <body ng-app="ticketSystemApp">  

 <!--Header-->
 <header>
   <div class="header"><h1 class="siteTitle">Ticket Management System</h1></div>
 </header>  

 <!--Main Container-->
 <div class="mainContainer" ng-controller = "userOptionsController">
      
    <!--Main Container left section-->
    <div class="leftSection">
    <ul class="list-inline">
      <li><a ui-sref=".adminOptions"><button type="button" class="btn btn-primary" >Admin Settings</button></a></li>
      <li><a ui-sref=".userOptions"><button type="button" class="btn btn-primary" >User</button></a></li>
    </ul>  
    </div>
    
    <!--Main Container right section-->
    <div class="rightSection">
       <div ui-view></div>
    </div> 
    <!--<br style="clear:both;"/>-->
 </div>

 <!--Footer--> 
<footer>
  <div class="footerContent">Naveen@2015</div>
</footer>
 </body>
</html>