Issues to tbe fixed.

1. Has to fix the Bug informtion text when page reloaded.
2. Sometimes switching between bugs - user, user - bugs is showing bug information text in the bug options.
3. Page reload showing Bug information.

When passing bugId not in DB, throwing exception
If we are sending "Error occured"  in getBugList, throwing 


Resources:

Multiple views in a single view.
http://plnkr.co/edit/SDOcGS?p=preview

/*Nice CSS stuff.
https://css-tricks.com/complete-guide-table-element/  

//Nice article about callback func
http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/

Angular ui-route module.
https://github.com/angular-ui/ui-router/wiki

View's load functions
http://www.technofattie.com/2014/07/27/easy-loading-indicator-when-switching-views-in-angular.html

Highights:
can add new bug details with just a single change in the UI and the bug class. Everything else alligns dynamically.

http://jameschambers.com/2014/06/day-14-bootstrap-alerts-and-mvc-framework-tempdata/
read comments

Spinner:
http://fgnass.github.io/spin.js/#!
lines=13&length=11&width=6&radius=37&scale=1.00&corners=1.0&opacity=0.25&rotate=0&direction=1&speed=1.1&trail=55&top=54&left=50
http://www.css-spinners.com/spinner/circles
http://smallenvelop.com/display-loading-icon-page-loads-completely/



