Issues to tbe fixed.

1. Has to fix the Bug informtion text when page reloaded.
2. Sometimes switching between bugs - user, user - bugs is showing bug information text in the bug options.
3. Page reload showing Bug information.


Resources:

Multiple views in a single view.
http://plnkr.co/edit/SDOcGS?p=preview

/*Nice CSS stuff.
https://css-tricks.com/complete-guide-table-element/  

//Nice article about callback func
http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/

Angular ui-route module.
https://github.com/angular-ui/ui-router/wiki

Spinner
http://smallenvelop.com/display-loading-icon-page-loads-completely/

View's load functions
http://www.technofattie.com/2014/07/27/easy-loading-indicator-when-switching-views-in-angular.html

Highights:
can add new bug details with just a single change in the UI and the bug class. Everything else alligns dynamically.


